@font-face {
    font-family: 'SF Pro';
    src: url(fonts/SFProDisplay-Regular.woff2),
        url(fonts/SFProDisplay-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url(fonts/SFProDisplay-Semibold.woff2),
        url(fonts/SFProDisplay-Semibold.woff);
    font-weight: 600;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro';
    font-style: normal;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #642020;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-top: 80px;

}
.upper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.player {
    width: 400px;
    background: #3C1616;
    padding: 34px 34px 50px 34px;
    border-radius: 40px;
    z-index: 10;
    width: 520px;
    height: 780px;
    margin-bottom: -300px;
    filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 10));
    
}

.song_data {
    padding-left: 6px;
    padding-top: 35px;
    .song_title {
        color: #FFFFFF;
        font-size: 30px;
        text-align: left;
        font-weight: 600;
        line-height: 36px;
    }
    .autor {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
        padding-top: 14px;
        line-height: 24px;
        text-transform: uppercase;
    }
}

.song_img {
    display: flex;
    .song_img_src {
        border-radius: 5px;
        width: 100%;
        max-width: 450px;
    }
}

.timeline {
    margin-top: 45px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px 0px 16px;
    .time {
        color: #FFF;
    }
    .current_time {
        width: 100%;
        max-width: 33px;
    }
    .progress_bar {
        height: 7px;
        background-color: #FFF;
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0px 20px 0px 20px;
        border-radius: 3px 3px 3px 3px;
        .progress {
            height: 9px;
            margin-left: -1px;
            background-color: #BE0D00;
            border-radius: 5px 0px 0px 5px;
        }
        .dot {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: #BE0D00;
            margin-left: -2px;
            filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 7));
        }
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 16px 0px 16px;
    .btn {
        cursor: pointer;
    }
    .btn_img {
        height: 40px;
    }
    .shuffle_btn, .sound_btn {
        max-width: 25px;
    }
    .next_img, .prev_img {
        width: 39px;
        height: 36px;
    }
    .play_btn {
        width: 39px;
        height: 45px;
    }
}

.visual {
    display: flex;
    flex-direction: row;
    height: 300px;
    background-color: #642020;
    rotate: 180deg;
    .line {
        width: 15px;
        /* border-radius: 0 0 5px 5px; */
        background: #D33D34;
    }
}

.lower {
    background-color: #D33D34;
    height: 400px;
    width: 100%;
}